.sonar-islands {
  h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--color-secondary);
  }
  h3 {
    font-size: 1.5rem;
  }

}
.sonar-islands--list {
  margin-bottom: 1rem;
  > li {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    padding: .5rem 0;
    > * {
      display: block;
      padding: .5rem;
    }
    > h3 {
      flex: 1;
      cursor: pointer;
      &:hover {
        background-color: rgba(0,0,0,0.1);
        border-radius: 12px;
      }
      &.selected {
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }
}
