.sonar-islands {
  h2 {
    font-size: 2rem;
    border-bottom: 1px solid var(--color-border);
    margin: 1em 0;
  }
  h3 {
    font-size: 1.5rem;
  }

}
.sonar-islands--list {
  > li {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    padding: .5rem 0;
    > * {
      display: block;
      padding: .5rem;
    }
    > h3 {
      flex: 1;
      cursor: pointer;
      &.selected {
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }
}
