/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(310, 80%, 40%);
  --ifm-color-primary-dark: hsl(310, 100%, 40%);
  --ifm-color-primary-darker: hsl(310, 100%, 25%);
  --ifm-color-primary-darkest: hsl(310, 100%, 15%);
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: hsl(310, 90%, 55%);
  --ifm-color-primary-dark: hsl(310, 80%, 45%);
  --ifm-color-primary-darker: hsl(310, 100%, 40%);
  --ifm-color-primary-darkest: hsl(310, 100%, 20%);
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
